# dependencies
/node_modules

# testing
/coverage

# build
.git
dist
.vs/*
.github
.husky

# etc
.DS_Store
.env.local
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js
public/manifest.json
/pnpm-lock.yaml
/pnpm-lock.yaml
